/* CSS markup for navigation */

/* Homepage*/
.top-bar {
    width: 100%;
    background-color: #000000e0;
    position: absolute;
    height: 50px;
    padding-top: 20px;
}

ul {
	/*list-style-type: none;*/
	margin: 0;
	text-decoration: none;
	/*overflow: hidden;*/
	font-family: Cabin, sans-serif;
    width: 350px;
    display: inline;
}

li {
	display: inline;
    padding-right: 20px;
}

li a {
	display: inline;
	font-size: 23px;
	opacity: 1;
	color: #ffffff;
	text-decoration: none;
}

li a:hover {
	color: #fff;
    transition: 0.5s;
}

/*After the hovering reverts back to black*/
li a:hover::after{
	opacity: 1;
}

/* hover bar */
.nav-highlight {
    color: #fd9003;
    flex: 1;
    background-image: linear-gradient(to right, #fd9003 0, #fd9003 100%);
    background-position: 0 -0.1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
}

.nav-highlight:hover {
    background-size: 100% 100%;
}

