html {
	box-sizing: border-box;
	/* removes scroll bars*/
	overflow: hidden;
}

ul {
	/*list-style-type: none;*/
	margin: 0;
	text-decoration: none;
	/*overflow: hidden;*/
	font-family: Open Sans, sans-serif;
}

li {
	display: inline;
	float: right;
}

li a {
	display: block;
	padding: 8px;
	font-size: 20px;
	opacity: 0.5;
	color: black;
	text-decoration: none;
}

li a:hover {
	opacity: 1;
	visibility: inherit;
	color: black;
}

/*After the hovering reverts back to black*/
li a:hover::after{
	opacity: 1;
}

h1 {
	font-size: 90px;
	color: black;
	position: absolute;
	top: 2em;
	width: 100%;
	box-sizing: border-box; /* allows for the text remain in entire page */
	text-align: center;
	letter-spacing: 3px;
	border-top: 2.5px solid;
	border-bottom: 2.5px solid;
	height:130px;
	margin: 0;
	-webkit-transform: translateZ(-0.5px) scale(1.5);
	transform: translateZ(-0.5px) scale(1.5);
	font-family: Encode Sans Semi Condensed, sans-serif;
	font-weight: lighter;

}

h2 {
	font-family: 'Arimo' , sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
	letter-spacing: 3px;
	/*position: absolute;*/
}


body {
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	/* screen performance for mobile*/
	-webkit-overflow-scrolling: touch;
	-webkit-perspective: 1px;
	perspective: 1px;
}

img {
	width: 100%;
	opacity: 0.7;
	/*listed items attached, shall make each dot point load black
	when mouse hovers*/
}

.parallax-group {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.skills {
	top: 8em;
	position: absolute;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	-webkit-transform: translateZ(-0.5px) scale(1.5);
	transform: translateZ(-0.5px) scale(1.5);
}

.back {
	/*making it a bit slow*/
	-webkit-transform: translateZ(-1px) scale(2.1);/* scale helps fix the image back to original size*/
	transform: translateZ(-1px) scale(2.1);
	position: relative;
	top: calc(((100vh - 70.00vw ) / 4) * -2);
}
/*Make it have motion */



.about {
	font-size: 40px;
	padding: 0em 1em;
	margin: 0;
	position: relative;
	z-index: 2;
	text-align: left;
	font-family: 'PT-Sans', sans-serif;
	background-color: white;
	color: grey;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.details {
	font-size: 20px;
}

.contact {
	/*centers the box*/
	margin: auto;
	border: 1px solid;
	border-radius: 5px;
	left: 50%;
	width: 120px;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: lighter;
	font-family: Open Sans, sans-serif;
	font-weight: lighter;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;	
}

.contact:hover {
	background-color: grey;
	font-weight: lighter;
}


.portfolio {
	
}

.front {
	background-color: black;
	padding: 10em 1em;
	position: relative;
	z-index: 2;
	color: white;
	text-align: center;
	font-family: 'PT+Sans', sans-serif;
	font-size: 20px;
	top: -1em;
}

.intro {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}

.uppercase {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.background {
	font-family: 'Arimo', sans-serif;
	position: absolute;
	font-size: 15px;
}

