// Module files

// Partial files
@import "partials/typography.scss";
@import "partials/background.scss";
@import "partials/color.scss";
// @import "partials/animation.scss";

h1 {
  font-family: $heading-font-family, Verdana, sans-serif;
  color: $heading-color;
  font-size: $heading-font-size;
  text-transform:  $text-uppercase;
  text-shadow: $heading-shadow;
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
}

.sky-background { 
  background-image: $background;
  width: $background-full;
  height: 100vh;
  z-index: -200;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  font-family: $nav-font;
  background: transparent;
  position: absolute;
  height: 10vh;
  font-size: 30px;
  .nav-link {
    position: relative;
    margin: .5rem 1rem;
    padding: 0;
  }
  a {
    color: $white;
    text-shadow: $heading-shadow;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      right: 0;
      transition: width 0.4s ease;
      bottom: -3px;
      box-shadow: $line-shadow;
    }
    &:hover {
      color: $white;
      &:after {
        width: 100%;
        left: 0;
        background: $white;
      }
    }
  }
}





